rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && request.auth.token.role == 'admin';
    }

    match /messageAttachments/{candidateId}/{allPaths=**} {
      allow read, write: if isAdmin() || (isAuthenticated() && request.auth.uid == candidateId);
    }

    match /profilePhotos/{uid}/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAdmin() || (isAuthenticated() && request.auth.uid == uid);
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
